<div class="contenedor">
  <div class="contenido">
    <div class="nosotros">
        <h2>Nosotros</h2>
    </div>
    <div class="text">
    <div class="contenedor_imagen">
      
    </div>
    
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.
        </p>
  </div>
    

  </div>

</div>
