<div class="contenedor">
  <div class="sombra">
    <h2>Mision</h2>
    <div class="contenido">
      <img loading="lazy" src="../../../assets/img/nosotros.jpg" alt="Imagen Nosotros">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore accusantium sit quis illo, veniam, labore ullam sapiente saepe eveniet quam nostrum temporibus laudantium eos a error distinctio laborum ab molestias.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus ullam soluta, ut, consequuntur tempore fuga enim ipsum rem, at eius deserunt officiis impedit molestiae minus omnis quos quia odit dolor.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem velit esse, quam, ut vero doloribus culpa provident voluptas aliquam ipsa sed suscipit explicabo eligendi impedit repellat excepturi amet nihil tempore?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit explicabo soluta praesentium maiores neque laborum dicta debitis omnis nemo non aliquam molestiae iste corrupti aspernatur quae, qui nihil minima placeat.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore aperiam ullam quasi temporibus quis exercitationem alias quo eveniet, sunt odit minima magnam quisquam animi? A nemo quis voluptate tempore inventore.
      </p>
    </div><!--Mision-->
    <h2>Vision</h2>
    <div class="contenido">
      <img loading="lazy" src="../../../assets/img/nosotros2.jpg" alt="Imagen Nosotros">
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore accusantium sit quis illo, veniam, labore ullam sapiente saepe eveniet quam nostrum temporibus laudantium eos a error distinctio laborum ab molestias.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus ullam soluta, ut, consequuntur tempore fuga enim ipsum rem, at eius deserunt officiis impedit molestiae minus omnis quos quia odit dolor.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem velit esse, quam, ut vero doloribus culpa provident voluptas aliquam ipsa sed suscipit explicabo eligendi impedit repellat excepturi amet nihil tempore?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit explicabo soluta praesentium maiores neque laborum dicta debitis omnis nemo non aliquam molestiae iste corrupti aspernatur quae, qui nihil minima placeat.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore aperiam ullam quasi temporibus quis exercitationem alias quo eveniet, sunt odit minima magnam quisquam animi? A nemo quis voluptate tempore inventore.
      </p>
    </div>
    <!--Fin contenedor con sombra-->
  </div>
  <!--
    Antiguo Codigo
    <div class="contenido">
    <div class="nosotros">
        <h2>Nosotros</h2>
    </div>
    <div class="text">
    <div class="contenedor_imagen">
      
    </div>
    
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.
        </p>
  </div>
    

  </div>-->
</div>
