<div class="contenedor">
    <div class="sombra content">
        <h2>Mision</h2>
        <div class="contenido">
            <img loading="lazy" src="../../../assets/img/nosotros.jpg" alt="Imagen Nosotros">
            <p>Contribuir al cuidado de la vida y la recuperación de la salud, a través de la prestación de servicios de alta complejidad, centrados en la persona, con un equipo humano cálido y calificado para alcanzar desenlaces clínicos superiores, promover el cuidado del medio ambiente, la sostenibilidad económica y la permanencia en el tiempo.
            </p>
        </div>
        <!--Mision-->
        <h2>Vision</h2>
        <div class="contenido">
            <img loading="lazy" src="../../../assets/img/nosotros2.jpg" alt="Imagen Nosotros">
            <p>Para el año 2025 ser reconocida por el desarrollo de centros de cuidado clínico con enfoque de atención basada en valor, consolidándose como una institución con estándares superiores de calidad, innovación y desarrollo tecnológico y como un gran lugar para trabajar.
            </p>
        </div>
        <!--Fin contenedor con sombra-->
    </div>
    <!--
      Antiguo Codigo
      <div class="contenido">
      <div class="nosotros">
          <h2>Nosotros</h2>
      </div>
      <div class="text">
      <div class="contenedor_imagen">
        
      </div>
      
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.
          </p>
    </div>
      
    </div>-->
</div>
<div class="contenedor">
    <h2>Donde Encontrarnos?</h2>
    <div class="mapa">
        <iframe
            src="https://www.google.com/maps/embed?pb=!4v1634279153842!6m8!1m7!1sCAoSLEFGMVFpcE5NWTFpX2k5c3FKcWFSY0ctU0VxZm5WRnFqOVl3N21lQnI5RTRB!2m2!1d-45.04017742402826!2d168.659158953373!3f161.21879272502403!4f9.349943392341132!5f0.4261293811447248"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>