<app-header></app-header>

<!--Cuerpo de pagina-->
<div class="contenedor">
    <div class="contenido_servicios">
        <h2>Nuestros Servicios</h2>
        <div class="servicios">
            <div class="servicio">
                <h3>Optometria</h3>
                <div class="informacion_servicio">
                    <div class="logo">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eyeglass-2" width="84" height="84" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M8 4h-2l-3 10v2.5" />
                            <path d="M16 4h2l3 10v2.5" />
                            <line x1="10" y1="16" x2="14" y2="16" />
                            <circle cx="17.5" cy="16.5" r="3.5" />
                            <circle cx="6.5" cy="16.5" r="3.5" />
                          </svg>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.</p>
                </div>
            </div>
            <div class="servicio">
                <h3>Pediatria</h3>
                <div class="informacion_servicio">
                    <div class="logo">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mood-kid" width="84" height="84" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <circle cx="12" cy="12" r="9" />
                            <line x1="9" y1="10" x2="9.01" y2="10" />
                            <line x1="15" y1="10" x2="15.01" y2="10" />
                            <path d="M9.5 15a3.5 3.5 0 0 0 5 0" />
                            <path d="M12 3a2 2 0 0 0 0 4" />
                          </svg>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.</p>
                </div>
            </div>
            <div class="servicio">
                <h3>Neurologia</h3>
                <div class="informacion_servicio">
                    <div class="logo">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-check" width="84" height="84" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <circle cx="9" cy="7" r="4" />
                            <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                            <path d="M16 11l2 2l4 -4" />
                          </svg>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.</p>
                </div>
            </div>
            <div class="servicio">
                <h3>Ginecologia</h3>
                <div class="informacion_servicio">
                    <div class="logo">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-woman" width="84" height="84" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <circle cx="12" cy="5" r="2" />
                            <path d="M10 22v-4h-2l2 -6a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1l2 6h-2v4" />
                          </svg>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo voluptatem delectus veritatis.</p>
                </div>
            </div>
        </div>
        <h3>Nos Importa tu Salud</h3>
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7Tyh7vlW2tU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <!--fin servicios-->
    </div>
</div>
<app-footer></app-footer>