<main>
<div class="contenedor">
    <div class="d-flex justify-content-center align-items-center flex-column pt-5 superior">
        <!--Parte Superior titulo y añadir-->
        <h1 class="titulo">Registro medicos </h1>
        <button type="button" id="btnAgregar" data-bs-toggle="modal" data-bs-target="#modalAgregar"
            class="btn btn-success boton-add d-flex justify-content-center align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path
                    d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z" />
            </svg>
        </button>
    </div>
    <div class="contenido-principal table-responsive-xl">
        <table class="table table-bordered border-primary">
            <thead>
                <tr>
                    <td class="text-center">ID</td>
                    <td class="text-center">Tipo de Documento</td>
                    <td class="text-center">Numero de documento</td>
                    <td class="text-center">Edad</td>
                    <td class="text-center">Nombre</td>
                    <td class="text-center">Segundo nombre</td>
                    <td class="text-center">Apellido</td>
                    <td class="text-center">Segundo Apellido</td>
                    <td class="text-center">Direccion</td>
                    <td class="text-center">Telefono</td>
                    <td class="text-center">Tipo de usuario</td>
                    <td class="text-center">Correo</td>
                    <td class="text-center">Usuario</td>
                    <td class="text-center">ACCIONES</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let con of lista_medico">
                    <td class="text-center">{{ con.idUsuario }}</td>
                    <td class="text-center">{{ con.tipo_documento }}</td>
                    <td class="text-center">{{ con.numero_documento }}</td>
                    <td class="text-center">{{ con.edad }}</td>
                    <td class="text-center">{{ con.nombre }} </td>
                    <td class="text-center">{{ con.segundo_nombre }}</td>
                    <td class="text-center">{{ con.apellido }}</td>
                    <td class="text-center"> {{ con.segundo_apellido }}</td>
                    <td class="text-center">{{ con.direccion }}</td>
                    <td class="text-center">{{ con.telefono }}</td>
                    <td class="text-center">{{ con.idTipo_usuario }}</td>
                    <td class="text-center">{{ con.correo }}</td>
                    <td class="text-center">{{ con.usuario }}</td>
                    
                    <td class="aling-center">
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <button type="button" class="btn btn-primary" (click)="seleccionar(con)">Actualizar</button>
                            <button type="button" class="btn btn-danger"(click)="baja(con.numero_documento)">Eliminar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</main>
<!-- Modal -->
<div class="modal fade" id="modalAgregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Registro</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form  [formGroup]="myform">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Tipo de identificacion</label>
                    <input type="text" class="form-control" formControlName="tipo_documento" />

                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Numero de identificacion</label>
                    <input type="text" class="form-control" formControlName="numero_documento" />

                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Edad</label>
                    <input type="text" class="form-control" formControlName="edad" />
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Primero nombre</label>
                     <input type="text" class="form-control" formControlName="nombre" />

                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Segundo Nombre</label>
                    <input type="text" class="form-control" formControlName="segundo_nombre" />

                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Primer apellido</label>
                    <input type="text" class="form-control" formControlName="apellido" />

                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Segundo apellido</label>
                    <input type="text" class="form-control" formControlName="segundo_apellido" />

                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Direccion</label>
                    <input type="text" class="form-control" formControlName="direccion" />

                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Telefono</label>
                    <input type="text" class="form-control" formControlName="telefono" />

                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Tipo de usuario</label>
                    <select id="select_clientes" class="form-select" aria-label="Default select example" formControlName= "idTipo_usuario">
                        <option selected disabled>Seleccione usuario</option>
                        <option *ngFor = "let tipo of lista_tipo" value="{{tipo.idTipo_usuario}}">{{ tipo.nombre}}</option>

                    </select>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Correo</label>
                    <input type="text" class="form-control" formControlName="correo" />

                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Usuario</label>
                    <input type="text" class="form-control" formControlName="usuario" />
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Contraseña</label>
                    <input type="text" class="form-control" formControlName="contraseña" />
                </div>
               
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-success" (click)="alta(myform.value)">Guardar</button>
            <button type="button" class="btn btn-primary" (click)="modificacion(myform.value)" >Actualizar</button>
        </div>
    </div>
</div>
</div>