<div class="contenedor">
    <h2>Excelentes Consejos para Ti</h2>
    <div class="entradas">
        <div class="entrada">
            <div class="entrada_imagen">
                <img loading="lazy" src="../../../assets/img/blog1.jpg" alt="Imagen Blog">
            </div>
            <div class="entrada_contenido">
                <h2>Consejos para una Buena Alimentacion</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eveniet suscipit tempora facilis ex fugit autem quis quo alias sed nulla perspiciatis reiciendis soluta ratione aliquid. Sapiente esse pariatur debitis!</p>
            </div>
        </div>
        <div class="entrada">
            <div class="entrada_imagen">
                <img loading="lazy" src="../../../assets/img/blog2.jpg" alt="Imagen Blog">
            </div>
            <div class="entrada_contenido">
                <h2>Consejos Sobre Cuidado Mental</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eveniet suscipit tempora facilis ex fugit autem quis quo alias sed nulla perspiciatis reiciendis soluta ratione aliquid. Sapiente esse pariatur debitis!</p>
            </div>
        </div>
        <div class="entrada">
            <div class="entrada_imagen">
                <img loading="lazy" src="../../../assets/img/blog3.jpg" alt="Imagen Blog">
            </div>
            <div class="entrada_contenido">
                <h2>Consejos para Cuidado desde Casa</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, eveniet suscipit tempora facilis ex fugit autem quis quo alias sed nulla perspiciatis reiciendis soluta ratione aliquid. Sapiente esse pariatur debitis!</p>
            </div>
        </div>
        
    </div><!--Fin entradas-->
</div>