<main class="contenedor">
    <h2>Contactenos</h2>
    <div class="imagen_contacto"></div>
    <form class="formulario">
        <fieldset>
            <legend>LLene el Formulario de Registro</legend>
            <div class="informacion">
                <div class="campos">
                    <label for="tipo_documento">Tipo de Documento: </label>
                    <select name="" id="">
                        <option value="" selected disabled>-- Seleccionar --</option>
                        <option value="">CC</option>
                        <option value="">TI</option>
                    </select>
                </div>
                <!--Campo-->
                <div class="campos">
                    <label for="documento">Documento: </label>
                    <input type="text" name="documento" placeholder="# Documento">
                </div>
                <!--Campo-->
                <div class="campos">
                    <label for="nombre">Nombre: </label>
                    <input type="text" name="nombre" placeholder="Tu Nombre">
                </div>
                <!--Campo-->
                <div class="campos">
                    <label for="segundo_nombre">Segundo Nombre: </label>
                    <input type="text" name="segundo_nombre" placeholder="Tu Segundo Nombre">
                </div>
                <!--Campo-->
                <div class="campos">
                    <label for="apellido">Apellido: </label>
                    <input type="text" name="apellido" placeholder="Tu Apellido">
                </div>
                <!--Campo-->
                <div class="campos">
                    <label for="segundo_apellido">Segundo Apellido: </label>
                    <input type="text" name="segundo_apellido" placeholder="Tu Segundo Apellido">
                </div>
                <!--Campo-->
                <div class="campos">
                    <label for="edad">Edad: </label>
                    <input type="text" name="edad" placeholder="Tu Edad">
                </div>
                <!--Campo-->
                <div class="campos">
                    <label for="direccion">Direccion: </label>
                    <input type="text" name="direccion" placeholder="Tu Direccion">
                </div>
                <!--Campo-->
                <div class="campos">
                    <label for="telefono">Telefono: </label>
                    <input type="text" name="telefono" placeholder="Tu Telefono">
                </div>
                <!--Campo-->
                <div class="campos">
                    <label for="correo">Correo: </label>
                    <input type="text" name="correo" placeholder="Tu Correo">
                </div>
                <!--Campo-->
                <div class="campos flex-end">
                    <a href="" class="boton">Registrarme</a>
                </div>
            </div>
        </fieldset>
    </form>
</main>
<div class="contenedor">
    <h2>Donde Encontrarnos?</h2>
    <div class="mapa">
        <iframe
            src="https://www.google.com/maps/embed?pb=!4v1634279153842!6m8!1m7!1sCAoSLEFGMVFpcE5NWTFpX2k5c3FKcWFSY0ctU0VxZm5WRnFqOVl3N21lQnI5RTRB!2m2!1d-45.04017742402826!2d168.659158953373!3f161.21879272502403!4f9.349943392341132!5f0.4261293811447248"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>