<main class="contenedor">
    <div class="d-flex justify-content-center align-items-center flex-column pt-5 superior">
        <!--Parte Superior titulo y añadir-->
        <h1 class="titulo">Clientes</h1>
        <button type="button" id="btnAgregar" data-bs-toggle="modal" data-bs-target="#modalAgregar"
            class="btn btn-success boton-add d-flex justify-content-center align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg"
                viewBox="0 0 16 16">
                <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z" />
            </svg>
        </button>
    </div>
    <div class="alerta-div"></div>
    <div class="contenido-principal table-responsive-xl">
        <table class="table table-bordered border-primary">
            <thead>
                <tr>
                    <td class="text-center">Tipo Doc.</td>
                    <td class="text-center">Numero</td>
                    <td class="text-center">Nombres</td>
                    <td class="text-center">Apellidos</td>
                    <td class="text-center">Edad</td>
                    <td class="text-center">Direccion</td>
                    <td class="text-center">Telefono</td>
                    <td class="text-center">Correo</td>
                    <td class="text-center">Acciones</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of listaClientes">
                    <td class="text-center">{{ cliente.tipo_documento }}</td>
                    <td class="text-center">{{ cliente.numero_documento }}</td>
                    <td class="text-center">{{ cliente.nombre }} {{ cliente.segundo_nombre }}</td>
                    <td class="text-center">{{ cliente.apellido }} {{ cliente.segundo_apellido }}</td>
                    <td class="text-center">{{ cliente.edad }}</td>
                    <td class="text-center">{{ cliente.direccion }}</td>
                    <td class="text-center">{{ cliente.telefono }}</td>
                    <td class="text-center">{{ cliente.correo }}</td>
                    <td class="aling-center">
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <button type="button" class="btn btn-primary"
                            (click)="seleccionarCliente(cliente)">Editar</button>
                            <button type="button" class="btn btn-danger"
                            (click)="eliminarCliente(cliente.idCliente, cliente.nombre, cliente.apellido)">Eliminar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>
<!-- Modal -->
<div class="modal fade" id="modalAgregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agendar una Cita</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formClientes">
                    <div class="input-group mb-3">
                        <span class="input-group-text">Tipo Documento:</span>
                        <select name="" id="" class="form-control" formControlName="tipo_documento">
                            <option value="" disabled selected>--Seleccionar--</option>
                            <option value="CC">TI</option>
                            <option value="TI">CC</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Documento:</span>
                        <input type="text" class="form-control" placeholder="Numero Documento"
                            aria-describedby="basic-addon1" formControlName="numero_documento">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Nombre</span>
                        <input type="text" class="form-control" placeholder="Nombre" 
                        aria-describedby="basic-addon1" formControlName="nombre">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Segundo Nombre:</span>
                        <input type="text" class="form-control" placeholder="Segundo Nombre"
                            aria-describedby="basic-addon1" formControlName="segundo_nombre">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Apellido:</span>
                        <input type="text" class="form-control" placeholder="Apellido"
                         aria-describedby="basic-addon1" formControlName="apellido">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Segundo Apellido:</span>
                        <input type="text" class="form-control" placeholder="Segundo Apellido"
                            aria-describedby="basic-addon1" formControlName="segundo_apellido">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Edad:</span>
                        <input type="number" class="form-control" placeholder="Edad" 
                        aria-describedby="basic-addon1" formControlName="edad">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Direccion:</span>
                        <input type="text" class="form-control" placeholder="Direccion" 
                        aria-describedby="basic-addon1" formControlName="direccion">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Correo:</span>
                        <input type="text" class="form-control" placeholder="Correo" 
                        aria-describedby="basic-addon1" formControlName="correo">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Telefono:</span>
                        <input type="text" class="form-control" placeholder="Telefono" 
                        aria-describedby="basic-addon1" formControlName="telefono">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" id="btnGuardar" 
                (click)="insertarClientes(formClientes.value)">Guardar</button>
                <button type="button" class="btn btn-primary" id="btnActualizar"
                (click)="actualizarCliente(formClientes.value)">Actualizar</button>
            </div>
        </div>
    </div>
</div>