h2, h3, p, legend {
    text-align: center;
}
.flex-center {
    display: flex;
    justify-content: center;
}

.boton {
    text-decoration: none;
    background-color: rgb(104, 104, 255);
    padding: 10px 30px;
    color: white;
    text-transform: uppercase;
    border-radius: 10px;
    text-align: center;
}

.contenedor {
    width: min(90%, 1200px);
    margin: 0 auto 20px auto;
}

.imagen_contacto {
    background-image: url(../../../assets/img/contacto.jpg);
    height: 400px;
    background-position: center center;
}

.formulario {
    width: 90%;
    background-color: white;
    padding: 50px;
    margin: -300px auto 0 auto;
}

legend {
    text-transform: uppercase;
    font-size: 20px;
}

.informacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    padding: 20px;
}

.campos {
    margin-bottom: 20px;
    display: flex;
}
.campos:last-of-type {
    margin: 0;
}

.campos label {
    flex: 0 0 160px;
    text-transform: uppercase;
}

.campos input, .campos select {
    flex: 1;
    height: 30px;
    border-radius: 10px;
    border: 1px solid gray;
    padding-left: 10px;
}

@media (max-width: 768px){
    .informacion {
        grid-template-columns: 1fr;
    }

    .campos {
        display: flex;
        flex-direction: column;
    }

    .campos input, .campos select, .campos label {
        flex: auto;
    }

    .boton {
        display: block;
    }
}
.mapa {
    display: flex;
    justify-content: center;
}